{{/* Reusable Admin Template Components - SVG Helpers Only */}}

{{define "svg_check_circle"}}
<svg class="w-full h-full"><use href="/static/icons/sprite.svg#check-circle"></use></svg>
{{end}}

{{define "svg_clock"}}
<svg class="w-full h-full"><use href="/static/icons/sprite.svg#clock"></use></svg>
{{end}}

{{define "svg_memory"}}
<svg class="w-full h-full"><use href="/static/icons/sprite.svg#cpu-chip"></use></svg>
{{end}}

{{define "svg_database"}}
<svg class="w-full h-full"><use href="/static/icons/sprite.svg#circle-stack"></use></svg>
{{end}}
